<section class="user-section">
  <h3><%= "Name: #{@user.name}" %></h3>
  <div>
    <span class="btn-primary" >  <%= request_friend_btn(@user) %></span>
  </div>

  <h2>Friends: </h2><br>
  <% @friends.each do |friend| %>
  <li><%= friend.name %></li><br>
  <% end %>
  <hr>



  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
